#SERVER
PORT=8080

#CORS
FRONTEND_URL=http://localhost:5173

#DATABASE (ejemplo con PostgreSQL local)
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/your_database
SPRING_DATASOURCE_USERNAME=your_username
SPRING_DATASOURCE_PASSWORD=your_password

## DATABASE - Render (postgres remoto)
#spring.datasource.url=jdbc:postgresql://your-host.render.com:5432/your_db
#spring.datasource.username=your_render_username
#spring.datasource.password=your_render_password

#SSL (solo necesario si server.ssl.enabled=true)
SSL_KEY_STORE_PASSWORD=your_ssl_keystore_password
